@font-face {
    font-family: caraa;
    src: url(fonts/MacondoSwashCaps-Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: serif;
    src: url(PTSerif-Bold.ttf);
}
@font-face {
    font-family: magnet;
    src: url(magneta-medium.ttf);
}
@font-face {
    font-family: argon;
    src: url(Argon_Regular1.otf);
}
@font-face {
    font-family: agbalu;
    src: url(Agbalumo-Regular.ttf);
}
@font-face {
    font-family: monsetra;
    src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: fat;
    src: url(./fonts/FatSansRound.ttf);
}
.ikea{
    font-family: fat;
    color: gray;
    font-size: 3vh;

}
.monsetrate{
font-family: monsetra;
font-size: 3vh;
color: rgb(146, 144, 144);
}
.agba{
font-family: agbalu;
font-size: 3vh;
color: rgb(143, 138, 138);
}
.argon{
    font-family: argon;
    font-size: 3vh;
    color: rgb(146, 144, 144);
}

.magneta{
    font-family: magnet;
    color: rgb(202, 196, 196);
    font-size: 3vh;
} 
 h1{
    font-family: serif;
} 
.carra{
    font-family: caraa;
    font-size: 2vh;
    color: rgb(85, 83, 83);
}

body{
    width: 65%;
    margin: auto;
    margin-top: 100px;
}
.shape{
    position: relative;
    width: 674.49px;
    height: 668.42px;
    }
    .shape1{
    box-sizing: border-box;
    position: absolute;
    left: 46.11%;
    right: -21.05%;
    top: 4.88%;
    bottom: 38.85%;
    background: #474747;
    border: 1px solid #5E5858;
    border-radius: 53px;
    transform: rotate(43.29deg);
    }
    .shape2{
    position: absolute;
    left: 1.04%;
    right: -10.08%;
    top: -28.32%;
    bottom: 87.22%;
    background:white;
    }
    .shape4{
    position: absolute;
    width: 462px;
    height: 353px;
    top: 42%;
    left: 20%;
    border-radius: 53px;
    }
    .shape3{
    position: absolute;
    left: 102.68%;
    right: -60.07%;
    top: 7.53%;
    bottom: 25.35%;
    }
    .last-shape{
    position: absolute;
    left: 60.26%;
    right: -7.7%;
    top: 65.51%;
    bottom: 15.57%;
    margin-left: 210px;
    transform: rotate(55.06deg);
    }
    .feature{
        float: right;
        margin-top: -5%;
        overflow: hidden;
        position: relative;
        z-index: -1;
    }
    .icons{
        display: flex;
        gap: 15%;
        top: 13.5%;
        position: absolute;
        color: rgb(255, 255, 255);
        margin-left: 90%;
        cursor: pointer;
        overflow: visible;
        right:19.8%;
    }
    .search{
       margin-top: 10%;
    }
    .human{
        margin-top: 10%;
    }
    .bag{
        margin-top: 10%;
    }
    #carra{
        font-family: carra;
        font-size: 190%;

    }
    .nav{
        display: flex;
        gap: 40%; 
        padding-top: 4%;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .links{
        display: flex;
        gap: 17%;
    }
    .image-container img{
        width: 30%;
        border-radius: 5%;
        margin-left: 66%;
        margin-top: -33%;
        overflow: hidden;

    }
    .heading{
        font-family: CormonatGaramond;
        margin-top: 100px;
        font-size: 190%;
     }
     .heading p{
        font-size: 50%;
        margin-bottom: -2%;
     }
     .home{
        border: dashed 2px gray;
     }

     .start-now {
        display: flex;
        gap: 24px;
    }
    .start-now p {
        padding: 7px;
        margin-bottom: 0px;
        font-family: poppins;
    }
    .start-now button {
        background-color: #474747;
        padding: 20px;
         border: none;
         border-radius: 37px;
          width: 25%; 
          color: white;
    }
    .youtube{
        margin-top: 2.5%;
        width: 29px;
        height: 35px;
        margin-left: -0.5%;
    }
    .start-now p{
        margin-top: 3%;

    }
    .figure-container{
        display: flex; gap: 5vh;
    }
    .figure-container .figure{
    font-size: 3vh;
    }
    .logo-container{
        display: flex;
       justify-content: space-between;
        margin-top: 100px;
        font-size: 18px;
        padding: 20px;
        background-color: rgb(252,251,250);
    }
    .seller{
        display: flex;
        justify-content: space-between;
         margin-top: 10%;
    }
.fa-flip-horizontal{
    color: #8a8e93;
}
.vase-container{
    width: 100%;
    display: flex;
}
.vase-image{
    position: relative;
}
.vase-figure{
    margin-left: 2px;
}
.vase-figure img{
   width: 25.5vh;
   height: 27vh;
   border-radius: 1vh;
   border-top: 50px solid rgba(247, 245, 241, 0.801);
}
.new{
    position: absolute;top: 0px;left: 10px;color: rgb(248, 68, 68);
}
.percentage{
    position: absolute;top: 0px; right: 10px;
}
.test{
text-align: center;
margin-top: 100px;
margin-bottom: 100px;

}
.test p{
    font-weight: normal;
}
.test h1{
    font-size: 30px;
    word-spacing: 5px;
}
.trend-home-container{
    display: flex;
    gap: 60px;

}
.shop-now{
    padding: 20px;
     border: 1px solid black;
     border-radius: 30px;
      width: 50%; 
      color: black;
      background-color: white;
      margin-top: 40px;
}
.offer{
}
 .offer h6{
  font-weight: normal;
  margin-top: 50px;
} 
.offer h1{
    font-weight: bold;
}
.stylish-decor{
    display: flex;
    gap: 200px;
    margin-top: 100px;
    margin-left: 60px;
}
.style-piece h6{
    font-weight: normal;
    margin-top: 50px;
}
.style-piece h1{
    font-weight: bold;
}
footer{
    bottom: 0;
    gap: 70px;
    display: flex;
    flex-direction: column;
    }
.bottom-footer{
    display: flex;justify-content: space-between;
}
.top-footer{
    display: flex;justify-content: space-between;
}
.last-vase-container{
    display: flex;
    justify-content: space-between;
}
.last-vase-container .image img{
    object-fit: cover;
    border-radius: 15px;
    width: 40vh;
    height: 37vh;
}
.image-right{
    width: 700px;
    padding: 10% 0;
    display: block;
}
.person{
    display: flex;
    gap: 50px;
}

.person img{
    border-radius: 15px;
    width: 100px;
}
.next{
    display: flex;
    height: auto;
    justify-content: space-between;
}
.all-icons{
    background-color: #474747;
    width: 90px;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding: 60px;
}
.all-icons svg{
    align-self: center;
}
.icon{
    display: flex;
    gap: 10px;
    justify-content: center;
}
 @media screen and (min-width:320px) and ( max-width:500px){
    .vase-container{
        flex-wrap: wrap;
    }
    .heading{
        flex-wrap: wrap;
        
    }
    .figure-container{
        flex-wrap: wrap;
    }
    .image-container{
        margin-top: 40%;
        margin-right: 100%;
    }
    .image-container img{
        width: 27vh;
        margin-right: 70%;
    }
    .logo-container{
        flex-wrap: wrap;
    }
    .trend-home-container{
        flex-wrap: wrap;
    }
    .trend-home-container img{
        width: 30vh;
    }
    .stylish-decor{
        flex-wrap: wrap;
        justify-content: center;
    }
    .stylish-decor img{
        width: 30vh;
    }
    .icon{
        flex-wrap: wrap;
    }
    .last-vase-container{
        flex-wrap: wrap;
    }
     .last-vase-container .image img{
        width: 25vh;
    }
    .top-footer{
        flex-wrap: wrap;
    }
    .bottom-footer{
        flex-wrap: wrap;
    }
    .nav{
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .links{
        flex-wrap: wrap;
    }
    .feature{
        margin-top: 60px;
    }
    .shape{
        width: 10vh;
    }
} 
 @media screen and (min-width:501px)and (max-width:1758){
  .icon{
    margin-left: 10%;


  }
  body{
    margin-left: 10px;
     width: 60%; 
    margin: auto;

  }

  .vase-container{
    width: 120vh;
  }
  
    .vase-figure img{
        width: 17vh;
        height: 17vh;
    }
    .seller{
        width: 86.5vh;
    }
    .logo-container{
        gap: 40px;
    }
    .icon{
      gap:25px;
      margin-left: 170px;
    }
    .all-icons svg{
        width: 5vh;
    }
    .all-icons{
        width: 30px;
    }
    .last-vase-container{
      gap:100px
    }
    .bottom-footer{
        gap: 100px;
    }
    .top-footer{
        gap: 60px;
    }
 
} 
@media screen and (min-width:501px) and ( max-width:500px){

}
